#info{
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
#info .material{
    margin: 0;
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
width: 40%;
}

@media (max-width:480px) {
    #info .material{
        flex-grow: 1;
    }
    #info .material img{
        width: 100%;
    }
}